* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: #ecf0f1;
    background-image: url("https://img.pikbest.com/background/20220119/blue-aesthetic-particle-background_6223597.jpg!bw340");
    background-size: cover;
  }
  
  header {
    margin-top: 10px;
    min-height: 80px;
    cursor: pointer;
    color: #444;
  }
  
  .logo {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 80px;
    float: left;
    margin-left: 50px;
  }
  
  ul {
    float: right;
  }
  
  ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 20px;
    line-height: 80px;
    margin-right: 30px;
  }
  
  ul li:hover,
  .active {
    background: rgb(27, 211, 11);
  }
  
  /* ------------------ section ------------------ */
  
  section {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .thumb {
    width: 32%;
    min-width: 300px;
    height: 400px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
  }
  
  .thumb img {
    width: 100%;
    height: 300px;
    display: block;
    object-position: top;
    object-fit: cover;
  }
  
  .thumb h4 {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 80px;
  }
  
  .thumb:hover {
    background: #ccc;
  }
  
  /*----------------- Responsive ----------------*/
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
      font-size: 2em;
      font-weight: 700;
      line-height: 60px;
      margin-left: 50px;
    }
  
    ul li {
      font-size: 1rem;
      font-weight: 700;
      padding: 0 20px;
      line-height: 60px;
      margin-right: 30px;
    }
  
    .thumb h4 {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 3px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .logo {
      width: 100%;
      text-align: center;
      font-size: 1.7em;
      font-weight: 700;
      line-height: 40px;
      margin-left: 0;
    }
  
    ul {
      width: 100%;
    }
  
    ul li {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      padding: 0 10px;
      line-height: 40px;
      margin-right: 0;
      text-align: center;
    }
  
    .thumb h4 {
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 2.5px;
      text-transform: uppercase;
      line-height: 50px;
    }
  }
  
  
  /* End Wrapper */
  
  
  /* Important stuff for this demo. */
  
  /* img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
    
    .pics_in_a_row {
      display: flex;
    }
    
    .img1 { flex: 1.3344; }
    .img2 { flex: 1.3345; }
    .img3 { flex: 0.7505; }
    .img4 { flex: 1.5023; }
    .img5 { flex: 0.75; }
    
     */
    
    /* Aaaand just some general styling. */
    
    /* *, *:before, *:after {
      box-sizing: border-box;
    }
    
    body {
      background: rebeccapurple;
       }
    
    .mainc {
      background-image: url("https://c4.wallpaperflare.com/wallpaper/665/98/396/line-abstraction-turquoise-background-wallpaper-preview.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    
    h1 {
      margin-top: 0;
    }
    
    h2 {
      font-weight: normal;
      font-size: 19px;
      margin-bottom: 30px;
    }
    
    .muted {
      font-style: italic;
      color: #666;
    }
    
    p, li {
      line-height: 1.5
    }
    
    /* li {
      margin-bottom: 7px;
    }
    
    p + p {
      margin-top: -7px;
    } */
    
    /* code {
      background: #eee;
      padding: 2px 5px;
      font-size: 90%;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 0 2px;
    } */
    
    /*.pics_in_a_row {
      margin: 25px 0;
    }
    
    .pics_in_a_row > div:not(:last-child) {
      margin-right: 2%;
    }
     */