<div class="sidebar" #sidebar opened="true">
  <div class="logo_content">
    <div class="logo">
      <i class='bx bxs-dashboard'></i>
      <div class="logo_name">Explore</div>
    </div>
    <i class='bx bx-menu' id="btn" style="cursor:pointer"></i>
  </div>
  <ul class="nav_list">
    <li *ngIf="auth.loggedIn() && auth.Userrole">
      <a routerLink="/home_user">
        <i class='bx bx-folder'></i>
        <span class="links_name">My Projects</span>
      </a>
    </li>
    <li *ngIf="auth.loggedIn()">
      <a routerLink="/showtemp">
        <i class='bx bxs-grid-alt'></i>
        <span class="links_name">Templates</span>
      </a>
    </li>
    <li *ngIf="auth.loggedIn() && auth.Userrole">
      <a routerLink="/data">
        <i class='bx bxs-grid-alt'></i>
        <span class="links_name">Create Resume</span>
      </a>
    </li>
    <li *ngIf="auth.loggedIn() && auth.Adminrole">
      <a routerLink="/Accountsettings">
        <i class='bx bx-user'></i>
        <span class="links_name">Account</span>
      </a>
    </li>
    <li *ngIf="auth.loggedIn() && auth.Adminrole">
      <a routerLink="/manageuser">
        <i class='bx bx-user'></i>
        <span class="links_name">Manage UserCredentials</span>
      </a>
    </li>
    <li *ngIf="auth.loggedIn() && auth.Adminrole">
      <a routerLink="/home_user">
        <i class='bx bx-help-circle'></i>
        <span class="links_name">About Us</span>
      </a>
    </li>
  </ul>
</div>