



    <div class="cont">
        <div class="title"><p>Choose Template</p></div>
        <div class="container">
            <img src="assets/img/temp1.png"  />
            <!-- <p class="title">card title</p> -->
            <div class="overlay"></div>
            <div class="button"><a (click)="temp1()"> BUTTON </a></div>
    
          </div>
    
    
          <div class="container">
            <img src="assets/img/temp1.png " />
            <!-- <p class="title">card title</p> -->
            <div class="overlay"></div>
            <div class="button"><a (click)="temp2()"> BUTTON </a></div>
    
          </div>
    
          <div class="container">
            <img src="assets/img/temp1.png"  />
            <!-- <p class="title">card title</p> -->
            <div class="overlay"></div>
            <div class="button"><a (click)="temp3()"> BUTTON </a></div>
    
          </div>
    
          <div class="container">
            <img src="assets/img/temp1.png " />
            <!-- <p class="title">card title</p> -->
            <div class="overlay"></div>
            <div class="button"><a (click)="temp4()"> BUTTON </a></div>
    
          </div>
    </div>


